#viewport {
  //width: 320px;
  //height: 480px;
  overflow: hidden;
  background: red;
}

.header {
  background: #ccc;
}

.header-bar {
  background: #ccc;
  position: fixed;
  top: 0px;
  height: 40px;

}

.submenu {
  background: #999;
}

.content {
  //margin-top: 53px;
  background: #eee;
}

.page {
  //background: green;
  //width: 320px;
  //height: 480px;
}

#nearby-list {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 800px;
  background: green;
  z-index: 9999;
}
